@import "../_settings.scss";

.wr-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2vh;
}

.wrMainH2 {
    padding-bottom: 1%;
}

.wrWrapper {
    display: flex;
    flex-direction: row;
    border: solid 2px $white;
    border-radius: 15px;
    justify-content: space-between;
    width: 60vw;
    height: 60vh;
    padding: 2%;

}


.wrTeamMain {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.wrTMh2 {
    display: flex;
    justify-content: center;
    padding-bottom: 2%;
}

.wrTMlist {
    display: flex;
    border: solid 1px $white;
    border-radius: 15px;
    height: 50%;
}

.wrTMlistLi {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 2%;
    width: 50%;
    border: solid 1px $white;
    border-radius: 15px;
    background: $background-body-3;
    color: black;
    font-style: italic;
    font-weight: bold;
}

.wrTMButton {
    display: flex;
    width: fit-content;
    height: fit-content;
    background:$background-maybar;
    border-radius: 10px;
    padding: 2%;
}

.wrPlayerlistMain {
    display: flex;
    flex-direction: column;
    width: 50%;

}

.wrPlayerh2 {
    display: flex;
    justify-content: center;
    padding-bottom: 2%;
}

.wrPlayerUl {
    display: flex;
    flex-direction: column;
    width: 40%;
    flex-wrap: nowrap;
    overflow-x: auto;
}

.wrPlayerIl {
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: fit-content;
    cursor: grab;
    height: 100%;
}